<form action="/admin/edit-product" method="GET">
  <button class="px-3 py-1 bg-white border border-emerald-700 text-emerald-700 rounded-lg font-semibold" type="submit">
    Edit Product
  </button>
  <input type="hidden" value="<%= csrfToken %>" name="_csrf" />
  <input type="hidden" name="prodId" value="<%= prodId %>" />
</form>